



body {
    margin: 0%;
    background-color: #ddf2eb;
    /* will need to change image per device or on github */
    background-image: url("images/Droop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
}

p {
    padding: 5%;
    margin: 0;
    font-size: 200%;
    font-family: itim;
    text-align: center;
    color: #087e8b;
}

h3 {
    padding: 5%;
    margin: 0;
    font-size: 800%;
    font-family: itim;
    text-align: center;
    color: #087e8b;
}

button {
    font-family: itim;
    text-align: center;
    font-size: 100%;
    color: #087e8b;
    background: #d3cdd7;
}

.center {
    text-align: center;
}



/*
    login
*/
.login {
    z-index: 5;
    margin: 2%;
    padding-left: 74%;
    position: absolute;
}


/*
    carousel
*/
.carousel-control-prev {
    margin-left: 10%;
}
.carousel-control-next {
    margin-right: 10%;
}


/*
    img gallery
*/
.gallery-img {
    width: 100%;
}

#img-gallery {
    padding-top:10px;
}

#img-gallery .row {
    margin-bottom:10px;
}

.col-sm {
    margin: 1%;
}

.col-sm img:hover {
    opacity: 0.5;
}




/*
    members
*/

.membersP {
    padding: 1%;
    margin: 0;
    font-size: 200%;
    font-family: itim;
    text-align: center;
    color: #d3cdd7;
}

.member-row {       
    text-align: left;

}

.member-img {
    padding: 5%;
    width: 30%;
    height: auto;
    margin-left: 2.5%;
    display: inline-block;
    
}

.member-hover {
    width: 100%;
    display: inline-block;
    clear: left;
}

.member-hover img:hover {
    display: inline-block;
}

.dropdownM {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdownM-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(#63abb3, #087e8b);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 10px;
    width: 65%;
    animation: slide-left 2s;
}

.dropdownM:hover .dropdownM-content {
    display: inline-block;

}




@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 65%; 
  }

  to {
    margin-left: 0%;
    width: 65%;
  }
}






/*
    Top navigation Bar
*/

.navbar-pill { 

    /* cosmetic */
    background-image: linear-gradient(#087e8b, #63abb3);
    border-radius: 60px;
    
    /* sizing */
    width: 97%;
    height: 13%;
    
    /* postitioning */
    margin-left: 1%; 
    top: 1rem;
    align-self: flex-start;
    position: sticky;
    z-index: 1000;


    /* test */

    padding-top: 1%;
    padding-left: 1%;
    
}

.logo {
    float: right;
    display: inline;
    margin-right: 5%;
}

.navImg {
    display: inline-block;
    position: sticky;
    height: 75px;

}


h1 {
    float: left;
    padding-left: 3%;
    color: #ff5a5f;
    font-family: ABeeZee;
    font-size: 200%;
}

h2 {
    display: inline-block;
    vertical-align: middle;

    margin: 0;
    padding: 0;

    color: #ff5a5f;
    font-family: Cookie;

    font-size: 500%;

    text-shadow: 
        -2px -2px 0 #3c3c3c, 
        2px -2px 0 #3c3c3c, 
        -2px 2px 0 #3c3c3c, 
        2px 2px 0 #3c3c3c;
    
}

#nav-list {
    width: 50%;
    padding: 0;
    overflow: hidden;
    display: inline;
}

.nav-it{
    margin: 1%;
    float: left;
    padding: 10px;
    list-style: none;
    display: inline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(#63abb3, #087e8b);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20%;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;

}













a:link { 
    text-decoration: none; 
    color: #FFB4A2;
} 
a:visited { 
    text-decoration: none; 
    color: #ff5a5f;

} 
a:hover { 
    text-decoration: none; 
    color: #3c3c3c;
    text-shadow: 
        -2px -2px 0 #FFB4A2, 
        2px -2px 0 #FFB4A2, 
        -2px 2px 0 #FFB4A2, 
        2px 2px 0 #FFB4A2;
} 
a:active { 
    text-decoration: none;
    color: #3c3c3c;

}

/*
    twitter
*/
.twitter {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

/* 
    events table
*/
table {
    margin: 5%;
    width: 90%;
    border-collapse: collapse;
    border: #087e8b;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}

td{
    padding: 10px;
    background-color: #d3cdd7;
    border: #63abb3;
    border-width: 2px;
    border-style: solid;
    font-family: ABeeZee;
    font-size: 100%;
}

th {
    padding: 10px;
    background-color: #ddf2eb;
    border: #63abb3;
    border-width: 2px;
    border-style: solid;
    font-family: ABeeZee;
    font-size: 100%;
}

td:hover {
    opacity: 0.5;
}
.temp-margin{
    margin-left: 5%;
}




/*
    flavours
*/
.wrap-left {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    display: inline-block;

    align-items: left;
    font-family: itim;
    font-size: 175%;
    color: #087e8b;
}
.img-left {
    width: 15%;
    clear: left;
    float: left;
}

.wrap-right {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    display: inline-block;

    align-items: right;
    font-family: itim;
    font-size: 175%;
    color: #087e8b;
}
.img-right {
    width: 15%;
    clear: right;
    float: right;
}





/*
    Form for Contact
*/
.contact-form {
    position: relative;
    display: block;
    container-type: normal;
    border-color: #087e8b;
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.form-inner {
    padding-top: -10%;
    text-align: left;
    font-family: ABeeZee;
    font-size: 150%;
    
}

.form-title {
    text-align: center;
    font-family: ABeeZee;
    font-size: 300%;
    color: #087e8b;
    padding-bottom: 2%;

}

.inputBox {
    outline: none;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    background: none;
}

.inputNumber {
    display: inline;
}

.contact-button {
    text-align: center;
    font-family: ABeeZee;
    font-size: 100%;
    color: #3c3c3c;
    background-image: linear-gradient(#63abb3, #087e8b);
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}

.small-text {
    font-family: ABeeZee;
    font-size: 100%;
    font-weight: 20px;
    color: #63abb3;
    padding-bottom: 2%;
    text-align: left;
}

.join-notification {
    position: absolute;
    z-index: 1;
    padding: 5%;
    margin-left: 40%;
    font-family: ABeeZee;
    font-size: 200%;
    text-align: center;
    color: #ff5a5f;

    border: #ff5a5f;
    border-style: solid;
    border-width: 10px;
}






/* 
    scrollbar 
*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFB4A2; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #087e8b; 
    border-radius: 5px;
    border: 2px solid #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



.d-block {
    display: block;
    margin-left: 15%;
    width: 70%;
}
