



body {
    margin: 0%;
    background-color: #ddf2eb;
    /* will need to change image per device or on github */
    background-image: url("Droop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
}

p {
    padding: 5%;
    margin: 0;
    font-size: 200%;
    font-family: itim;
    text-align: center;
    color: #087e8b;
}

h3 {
    padding: 5%;
    margin: 0;
    font-size: 800%;
    font-family: itim;
    text-align: center;
    color: #087e8b;
}



/*
    img gallery
*/
.gallery-img {
    width:100%;
}
#img-gallery {
    padding-top:10px;
}
#img-gallery .row {
    margin-bottom:10px;
}



/*
    Top navigation Bar
*/

.navbar-pill { 

    /* cosmetic */
    background-image: linear-gradient(#087e8b, #63abb3);
    border-radius: 60px;
    
    /* sizing */
    width: 97%;
    height: 13%;
    
    /* postitioning */
    margin-left: 1%; 
    top: 1rem;
    align-self: flex-start;
    position: sticky;
    z-index: 1000;


    /* test */

    padding-top: 1%;
    padding-left: 1%;
    
}

.logo {
    float: right;
    display: inline;
    margin-right: 5%;
}

.navImg {
    display: inline-block;
    position: sticky;
    height: 75px;

}


h1 {
    float: left;
    padding-left: 3%;
    color: #ff5a5f;
    font-family: ABeeZee;
    font-size: 200%;
}

h2 {
    display: inline-block;
    float: right;
    vertical-align: middle;

    margin: 0;
    padding: 0;

    color: #ff5a5f;
    font-family: Cookie;

    font-size: 500%;

    text-shadow: 
        -2px -2px 0 #3c3c3c, 
        2px -2px 0 #3c3c3c, 
        -2px 2px 0 #3c3c3c, 
        2px 2px 0 #3c3c3c;
    
}

#nav-list {
    width: 50%;
    padding: 0;
    overflow: hidden;
    display: inline;
}

.nav-it{
    margin: 1%;
    float: left;
    padding: 10px;
    list-style: none;
    display: inline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}




















a:link { 
    text-decoration: none; 
    color: #FFB4A2;
} 
a:visited { 
    text-decoration: none; 
    color: #ff5a5f;

} 
a:hover { 
    text-decoration: none; 
    color: #3c3c3c;
    text-shadow: 
        -2px -2px 0 #FFB4A2, 
        2px -2px 0 #FFB4A2, 
        -2px 2px 0 #FFB4A2, 
        2px 2px 0 #FFB4A2;
} 
a:active { 
    text-decoration: none;
    color: #3c3c3c;

}











/* 
    scrollbar 
*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFB4A2; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #087e8b; 
    border-radius: 5px;
    border: 2px solid #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



.d-block {
    display: block;
    margin-left: 15%;
    width: 70%;
}

